* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Alex Brush';
	color: #333;
	background-image: linear-gradient( rgba(255,200,255,255), rgba(255, 255, 255, 255));
}

header {
	background-color: #f2f2f2;
	padding: 10px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 18px;
}

.hero {
	background: url('../images/BG.jpg') 50% 50%;
	background-size: cover;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-text {
	text-align: center;
	color: white;
	font-family: 'Alex Brush';
}

.hero-text h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 24px;
	margin-bottom: 40px;
}

.cta-button {
	background-color: #ff8c00;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	transition: background-color 0.5s ease;
}

.cta-button:hover {
	background-color: #ff6700;
}

.product-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px;
}

.product-item {
	width: calc(33.33% - 10px);
	margin-bottom: 20px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-item img {
	width: 100%;
	cursor: pointer;
	margin-bottom: 10px;
}

.product-item img:hover {
	opacity: 75%;
}

.product-item h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.product-item p {
	font-size: 18px;
	color: #ff8c00;
	font-weight: bold;
	margin-bottom: 10px;
}

/*Products with cropped image*/

.product1 {
	background: url("../images/product1.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product1:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product2 {
	background: url("../images/product2.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product2:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product3 {
	background: url("../images/product3.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product3:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product4 {
	background: url("../images/product4.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product4:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product5 {
	background: url("../images/product5.jpg") 80% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product5:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product6 {
	background: url("../images/product6.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product6:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product7 {
	background: url("../images/product7.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product7:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product8 {
	background: url("../images/product8.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product8:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product9 {
	background: url("../images/product9.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product9:hover {
	opacity: 0.5;
	cursor: pointer;
}

.product10 {
	background: url("../images/product10.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.product10:hover {
	opacity: 0.5;
	cursor: pointer;
}

/*producstb*/

.productb1 {
	background: url("../images/productb1.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb1:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb2 {
	background: url("../images/productb2.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb2:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb3 {
	background: url("../images/productb3.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb3:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb4 {
	background: url("../images/productb4.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb4:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb5 {
	background: url("../images/productb5.jpg") 80% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb5:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb6 {
	background: url("../images/productb6.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb6:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb7 {
	background: url("../images/productb7.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb7:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb8 {
	background: url("../images/productb8.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb8:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb9 {
	background: url("../images/productb9.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb9:hover {
	opacity: 0.5;
	cursor: pointer;
}

.productb10 {
	background: url("../images/productb10.jpg") 50% 10% no-repeat;
	width: 300px;
	height: 300px;
}

.productb10:hover {
	opacity: 0.5;
	cursor: pointer;
}

@media (max-width: 768px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}

	footer {
		background-color: #333;
		color: white;
		text-align: center;
		padding: 20px;
	}

	footer p {
		font-size: 16px;
	}

	nav ul li {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

/* Style the modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

/* Style the modal content */
.modal-content {
	margin: auto;
	display: block;
	max-width: 80%;
	max-height: 80%;
}

/* Style the close button */
.close {
	color: #fff;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* Add animation to the modal*/
.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}